  <!-- Footer Section -->
  <footer class=" cstm-header pt-5">
    <div class="container text-light">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <h3 class="pb-3">About Us</h3>
                <p>Sports World is one of the World's leading retailers of football boots, football
                    shirts and other football equipment. In Copenhagen, Sports World has provided premium service to
                    football
                    players and fans, across the globe. </p>
            </div>
            <div class="col-12 col-md-4">
                <h3 class="pb-3">Contact Us</h3>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> openCart@gmail.com</p>
                <p><i class="fa fa-phone-square" aria-hidden="true"></i> +880 1688079678</p>
            </div>
            <div class="col-12 col-md-4">
                <h3 class="pb-3">Follow Us</h3>
                <div class="social-icon">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light"><i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook</a></li>
                        <li><a href="#" class="text-light"><i class="fa fa-twitter" aria-hidden="true"></i>
                                Twitter</a></li>
                        <li><a href="#" class="text-light"><i class="fa fa-instagram" aria-hidden="true"></i>
                                Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Copy right row -->
        <div class="row text-center mt-5">
            <div class="col-12">
                <p> Copyright © 2022 Prakash Mishra</p>
            </div>
        </div>
    </div>
</footer>

<!-- Script For Login Validation -->

<!-- popup windows -->
<script src="/js/jquery.popupwindow.js"></script>
<!-- Bootstrap js -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/popper.js"></script>
<!-- OWL Car -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Show More js -->
<script src="/js/showMoreItems.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Theme js -->
<script type="text/javascript" src="/js/main.js"></script>

<!-- validator -->
<script type="text/javascript" src="/js/validation.js"></script>
</body>

</html>