   <!-- Bootstrap js -->
   <script type="text/javascript" src="/js/jquery.js"></script>
   <script type="text/javascript" src="/js/popper.js"></script>
   <!-- OWL Car -->
   <script src="/js/owl.carousel.min.js"></script>
   <!-- Show More js -->
   <script src="/js/showMoreItems.min.js"></script>


   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
   <!-- Theme js -->
   <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>